<h1>About Us</h1>
<div class="column1of2">
    <img src="/Images/Prezzy.png" alt="" srcset="">
</div>
<div class="column2of2">
    <h3>A bit about me.</h3>
    <p>I am 21 years old and have been programming with a passion since a young age.
     When I sit down and commit to creating something I always want it to be'
     the greatest it can possibly be.
    </p>
</div>
