<h1>Our Services</h1>
<h2>Nothing can beat Passion + Talent</h2>
<p>Some services that I can offer you include the following: </p>
<ol>
    <li>Server and Database creation for your site</li>
    <li>Can aid with site design and hosting</li>
    <li>Cobol application creation and modification</li>
    <li>SQL Server Database creation and Maintenance</li>
    <li>Application Programming</li>
</ol>